faiss-cpu
sentence-transformers
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
dotenv
wikipedia
huggingface_hub
langchainhub
langgraph
langgraph-supervisor
streamlit
python-dotenv